<h1> BLOG ACCUEIL</h1>

    {% for post in posts %}
        <article>
            <h2> <a href="/blog/posts/{{post.id}}"> #{{post.id}} - {{post.tile|upper}}</a></h2>
            <p> {{post.detail|truncatewords:5}} </p>
        </article>
    {% endfor %}
