{% extends "base.html" %}
{% block title %}store{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LOGO</a>
        {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> {% endcomment %}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">ACCEUIL <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">A PROPOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>
            </ul>
        </div>
        <div class="float-right">
            <span class="nav-item rounded-circle mx-2 backet-icon">
                <i class="fas fa-shopping-cart">  <span class="badge badge-info">4</span></i> Panier
            </span>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
{% load static%}
    <div class="row">
        <div class="col-md-3 d-hide">
            <div class="container">
                <div class="alert alert-secondary my-1" role="alert">
                    <i class="fas fa-laptop"></i> Informatique
                </div>
                <div class="alert alert-secondary my-1" role="alert">
                    <i class="fas fa-mobile-alt"></i> Téléphone & Tablette
                </div>
            </div>
        </div>
        {% comment %} CAROUSEL {% endcomment %}
        <div class="col-md-9 col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src=" {% static 'img/CI_W01_DB_DESTOCKAGE-OK.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                    <img src="{% static 'img/CI_W02_DB_LRM_MER.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                    <img src="{% static 'img/CI_W02_DB3_MENS-CLOTHING_MARDI.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    
    
{% endblock %}

   